img {max-width: 100%;border-style: none;}
a, a:hover, a:focus {text-decoration: none;}
section{width: 100%; height: auto;}
.wrap {width: 1021px;margin: 0 auto;display: block;}
.left {float: left;}
.right {float: right;}
.none {display: none;}
.box-left,.page,.box-right{float: left;}
.header .btn-box .home, .header .btn-box .cus {width: 85px;height: 25px;}
.btnstyle{  
  width: 125px;
  height: 50px;
  background-image: url(../images/btn.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  color: #cd2e2e;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 40px;
  font-weight: 600;
}
button.content-btn{
  width: 315px;
  height: 55px;
  border-radius: 10px;
  display: block;
  font-size: 26px;
  color: #af2b2b;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffbb74+0,face8f+51,ffbb74+100 */
  background: #ffbb74; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbb74),color-stop(51%, #face8f),to(#ffbb74));
  background: linear-gradient(to bottom, #ffbb74 0%,#face8f 51%,#ffbb74 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbb74', endColorstr='#ffbb74',GradientType=0 ); /* IE6-9 */
}
button.content-btn-01{
  width: 315px;
  height: 55px;
  border-radius: 10px;
  border: 3px solid #e19f40;
  font-size: 26px;
  color: #e19f40;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
}
/*------------------------*\
         scrollbar 
\*------------------------*/
/* ::-webkit-scrollbar {width: 5px;} */
::-webkit-scrollbar-track {border-radius: 4px;margin: 0px 0px 5px 0;background: #4a0508;}
::-webkit-scrollbar-thumb {border-radius: 4px;background: #000000;}
/*------------------------*\
         loading
\*------------------------*/
.loading {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
}
.double-bounce1, .double-bounce2 {
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  opacity: 0.6;
  position: absolute;
  border-radius: 50%;
  background-color: #ccc;
  animation: sk-bounce 2.0s infinite ease-in-out;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {-webkit-animation-delay: -1.0s;animation-delay: -1.0s;}
@-webkit-keyframes sk-bounce {
  0%,100% {-webkit-transform: scale(0);}
  50% {-webkit-transform: scale(1);}
}
@keyframes sk-bounce {
  0%,100% {transform: scale(0);-webkit-transform: scale(0);}
  50% {transform: scale(1);-webkit-transform: scale(1);}
}
/*------------------------*\
          左邊區塊
\*------------------------*/
.box-left{
  /* width: 224px; */
  width: 12%;
  height: 100vh;
  padding: 30px 0;
  background-image: url(../images/left_bg.jpg);
  background-size: cover;
}
.box-left .logo {
  width: 135px;
  height: 95px;
  margin: 0 auto 60px;
  background-image: url(../images/logo.png);
  background-size: cover;
  cursor: pointer;
}
.box-left,.box-left .logo{background-position: top center;background-repeat: no-repeat;}
.box-left .btn-box {width: 140px;height: auto; margin:0 auto; display: block;}
.box-left .btn-box a{
  width: 140px;height: 45px;
  display: block; margin-bottom: 25px;
  background-position: top center;
  background-repeat: no-repeat;
}
.left-btn-money{background-image: url(../images/left_btn_money.png);background-size: cover;}
.left-btn-pro{background-image: url(../images/left_btn_pro.png);background-size: cover;}
.left-btn-rule{background-image: url(../images/left_btn_rule.png);background-size: cover;}

/*------------------------*\
          右邊區塊
\*------------------------*/
.box-right{
  /* width: 369px; */
  width: 18%;
  height: 100vh;
  padding-top: 25px;
  background-image: url(../images/right_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-right .btn-box{width: 200px;height: 25px;display: block; margin: 0 auto 65px;}
.box-right .btn-box a{width:85px; height:25px;display: inline-block; vertical-align: middle;}
.btn-home{background-image: url(../images/btn_home.png);background-size: cover;margin-right: 25px;}
.btn-cus{background-image: url(../images/btn_cus.png);background-size: cover;}
.snow-pic{
  width: 194px; height: 205px;
  margin: 0 auto;
  background-image: url(../images/snow_pic.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.acc-name{
  width: 60%;
  padding: 10px 0 30px;
  border-bottom: 1px solid #fff;
  margin: 0 auto 35px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.lottery-ball{width: 83%; padding: 10px 0; margin: 0 5vmin;}
.lottery-ball .ball{width: 100%;}
.lottery-ball .ball div{width: 50%;display: inline-block; vertical-align: middle;}
.lottery-ball .ball div p {display: inline-block; vertical-align: middle; color: #fff; text-shadow: 0px 3px 6px rgb(49, 0, 0);}
.lottery-ball .ball div p:first-child{font-size: 54px; font-weight: bolder;}
.lottery-ball .ball div p:last-child{font-size: 20px; letter-spacing: 1px;}
.lottery-ball .ball > div, .lottery-ball .ball button{display: inline-block; vertical-align: middle;}
.lottery-result{width: 100%; padding: 20px 0 20px 48px; margin: 0 auto;background: rgba(0, 0, 0, 0.3);}
.lottery-result .each-result,
.lottery-result .next-result{width: 100%; margin: 0 auto; display: inline-block; vertical-align: middle;}
.lottery-result .each-result{margin-bottom: 25px;}
.each-result div,
.each-result button,
.next-result div,
.next-result button{display: inline-block; vertical-align: middle;}
.each-result div,
.next-result div{font-size: 20px; letter-spacing: 1px; color: #fff; text-shadow: 0px 3px 6px rgb(49, 0, 0);}
.each-result div,.next-result div{margin-right: 19px;}
/*------------------------*\
          中間區塊
\*------------------------*/
.page{width: 70%;height: 100vh;background-image: url(../images/mid_bg.jpg);position: relative;}
footer{position: absolute;bottom: 0;width: 100%;font-size: 12px; color: #d23c3e;text-align: center;padding-left: 10vmin;display: block;}
.animal{width: 100%;height: 100vh;background-image: url(../images/main_bg.png);}
.woman{width: 100%;height: 100vh;background-image: url(../images/process_bg.png);}
.animal,.woman,.page{background-position: top center;background-repeat: no-repeat;background-size: cover; }
/*------------------------*\
          main
\*------------------------*/
.main{padding-top: 26%;}
.main .content{
  width: 902px;
  height: 578px;
  background-image: url(../images/main_content.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0 20.5%;
  padding: 24% 6% 0;
  display: block;
}
/*------------------------*\
          process
\*------------------------*/
.process{padding-top: 27%;}
.process .content{
  width: 1001px;
  height: 563px;
  background-image: url(../images/process_content.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0 15.5%;
  padding: 35% 13% 0;
  display: block;
}
.process .content button{display: inline-block; vertical-align: middle;}
.process .content button:first-child{margin-right: 15px;}

/*------------------------*\
          rule
\*------------------------*/
.rule{padding-top: 28%;}
.rule .content{
  width: 1100px;
  height: 521px;
  background-image: url(../images/rule_content.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0 12.5%;
  /* padding: 24% 6% 0; */
  display: block;
}
.rule ul{width: 90%; margin: 0 auto;padding-top: 10%;}
.rule ul li{
  position: relative;
  padding-left: 25px;
  color: #474747;
  letter-spacing: 3px;
  margin-bottom: 10px;
  font-weight: 600;
}
.rule ul li div{font-size: 16px;}
.rule ul li p{margin: 0;display: inline;color: #dd1515;}
.rule ul li span{
  content:'';
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  border-radius: 99em;
  letter-spacing: 0px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  display: inline-block;
  background-color: #4b4b4b;
}
.rule .content button{margin: 0 auto;}

/*------------------------*\
           count
\*------------------------*/
.count{padding-top: 27%;}
.count .content{
  width: 755px;
  height: 445px;
  background-image: url(../images/count_back.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0 27%;
  padding-top: 4%;
}
.count-num{width: 100%; margin: 0 auto; padding-left: 51%;}
.hour,.minute{
  width: 61px;
  height: 38px;
  background-image: url(../images/time_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 3px 1px #181818;
  padding: 0 13px;
  text-align: center;
}
.hour{margin-right: 14%;}
.count .text{width: 90%; margin: 55px auto;}
.count .text p{
  font-size: 26px;
  color: #828282;
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
}
.count .text p > span{
  font-size: 46px;
  color: rgba(174,15,20, 0.8);
  text-shadow: 0px 0px 0px rgba(26, 2, 2, 0.8);
}
.count .count-btn{width: 100%; margin: 0 7%;}
.count .count-btn button{display: inline-block; vertical-align: middle;}
.count .count-btn button:first-child{margin-right: 15px;}

/*------------------------*\
          miracle
\*------------------------*/
.miracle{padding-top: 27%;}
.miracle .content{
  width: 767px;
  height: 502px;
  background-image: url(../images/miracle_content.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0 25%;
  padding-top: 21%;
}
.miracle input{
  width: 433px;
  height: 50px;
  margin: 0 24%;
  display: block;
  padding: 10px 15px;
  border: 2px solid #8b8b8b;
  font-size: 25px;
  color: #000;
}
.miracle input::-webkit-input-placeholder{font-size: 25px;color: #c3c3c3;letter-spacing: 4px;}
.miracle input:-ms-input-placeholder{font-size: 25px;color: #c3c3c3;letter-spacing: 4px;}
.miracle input::placeholder{font-size: 25px;color: #c3c3c3;letter-spacing: 4px;}
.miracle button{display: block; width: 56.5%; margin: 3% 24%;}
.miracle a{text-align: right; width: 80%; display: block; font-size: 18px; color: #a07949; letter-spacing: 2px; font-weight: 600;}
/*------------------------*\
          彈跳視窗
\*------------------------*/
#mdWindow {
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 98;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  display: none;
}
#mdOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  position: fixed;
  z-index: 97;
  background: rgba(0, 0, 0, 0.97);
  display: none;
}
.close_btn {
  top: 0;
  right: -40px;
  width: 30px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  background-image: url(../images/close.png);
  background-size: cover;
  z-index: 100;
}
.float-bg{border: 2px solid #e8bd7f;background: rgba(255,255,255,0.2);border-radius: 10px;padding: 5px;}
.float-pic{
  border-radius: 10px;
  background-color: #fff;
  background-image: url(../images/float_bg.png);
  background-size: cover;
  position: relative;
}
.float-pic::before{
  content:'';
  width: 220px;
  height: 54px;
  background-image: url(../images/cloud_left.png);
  background-size: cover;
  position: absolute;
  top: -29px;
  left: -20px;
}
.float-pic::after{
  content:'';
  width: 149px;
  height: 46px;
  background-image: url(../images/cloud_right.png);
  background-size: cover;
  position: absolute;
  top:-22px;
  right: -14px;
}
.float-pic .title{
  width: 100%;
  height: auto;
  background-image: url(../images/title_bg.png);
  background-size: cover;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
.float-pic .title,
.float-pic::after,
.float-pic::before,
.close_btn{  background-position: top center; background-repeat: no-repeat;}

/* 共用樣式 */
.table-style label select{width: 116px; height: 30px;}
.table-style label{width: 100%; margin: 10px auto 15px; text-align: center;}
.table-style label div{ display: inline-block; vertical-align: middle;}
.table-style label div{font-size: 18px; color: #5d5d5d; margin-right: 5px; letter-spacing: 1px;}
.table-style label select{width: 116px; height: 30px;}
.table-style form{width: 100%; text-align: center;}
.table-style form {height: 225px; overflow: auto;}
.table-style form table tbody tr th{text-align: center; letter-spacing: 1px; font-weight: 600;}
.table-style form table tbody tr th,
.table-style form table tbody tr td{width: 15%; height: 45px;}
.table-style form table tbody tr:first-child{background-color: #eeb07f;}
.table-style form table tbody tr:first-child th{font-size: 20px; color: #fff;}
.table-style form table tbody tr td{font-size: 18px; color: #de9357;}
.table-style tr{background: rgba(248,235,220,0.7);}
.table-style tr:nth-of-type(2n){background: transparent;}

/* 彈窗獨立樣式 */
.how-box{width: 718px; padding:60px 0 40px 0; text-align: center;}
.how-box img{margin-bottom: 40px;}
.how-box button{width: 427px; height: 57px;margin: 0 auto;}
.succ-box{width: 435px; padding: 77px 0 51px;}
.succ-box p{padding:0 0 42px; text-align: center; font-size: 25px; color:#828282; letter-spacing: 3px; font-weight: 600; }
.succ-box button{width: 338px; height: 57px;margin: 0 auto;}
.myball-box{width: 795px; padding: 35px 20px 10px; }
.myball-box form{height: 243px; overflow: auto;}
.myball-box label{width: 100%; margin: 0 auto 15px; text-align: center;}
.myball-box label div{ display: inline-block; vertical-align: middle;}
.myball-box label div{font-size: 18px; color: #5d5d5d; margin-right: 5px; letter-spacing: 1px;}
.myball-box label select{width: 116px; height: 30px;}
.myball-box tr{background: rgba(248,235,220,0.7);}
.myball-box tr:nth-of-type(2n){background: transparent;}
.myball-box tr td{width: 15.33%;padding:10px 0;font-size: 18px; color: #de9357; letter-spacing: 2px;text-align: center;}
.myball-box tr:first-child{background-color: #eeb07f;}
.myball-box tr:first-child th{width: 15.33%; padding:10px 0;font-size: 20px; color: #fff; letter-spacing: 2px; font-weight: 600; text-align: center;}
.myball-box .check-btn{width: 65px; height: 30px; color: #fff; border-radius: 5px; background-color: #937b68;}
.myball-box .total{background-color: #ffdaaf;}
.myball-box .total td{color: #7e4a20;}
.myball-num{width: 547px; padding: 10px;}
.myball-num form{height: 270px;position: relative;}
.myball-num form{width: 100%; text-align: center;}
.myball-num form table{position: absolute; overflow: hidden;}
.myball-num form table tbody tr td{width: 25%; height: 45px;}
.day{float: left;}
.day p{display: block; letter-spacing: 2px;}
.click-btn{float: right;margin: 15px 15px 0 0;}
.click-btn .arrow{width: 27px;height: 26px;background-image: url(../images/arrow.png);background-position: top center;background-repeat: no-repeat;background-size: cover;}
.click-btn .arrow:last-child{-webkit-transform:scaleX(-1);transform:scaleX(-1);margin-left: -4px;}
.mywin-recode{width: 953px; padding: 10px;}
.mywin-recode form table tbody tr th,
.mywin-recode form table tbody tr td{width: 15%; height: 45px;}
.week-results{width: 775px; padding: 10px;}
.next-lottery{width: 630px; padding: 20px 90px;}
.next-lottery div{width: 100%; display: block; margin-bottom: 15px;}
.next-lottery div p,
.next-lottery div:last-child {display: inline-block; vertical-align: middle;font-size: 24px; color: #828282; letter-spacing: 3px; font-weight: 600;}
.next-lottery div p.red{color: #ae1214;}
.win-notice,.exchange-box{ width: 495px; padding: 10px;}
.get-ball{ width: 740px; padding: 10px;}
.win-notice div,.win-notice button,
.get-ball div,.get-ball button,
.exchange-box div,.exchange-box button{display: block;}
.win-notice div,
.get-ball div,
.exchange-box div{text-align: center; font-size: 24px; color: #828282; letter-spacing: 3px; font-weight: 600; margin: 20px 0;}
.win-notice button,
.get-ball button,
.exchange-box button{margin: 30px auto;}

/*------------------------*\
          media
\*------------------------*/
/*
max，表示這個數字以下（包含）的都適用。
min，表示這個數字以上（包含）的都適用。
*/
@media screen and (max-width: 1680px){
  .count,.process,.miracle{padding-top: 38vmin;}
  .main{padding-top: 36vmin;}
  .main .content{margin: 0 17vmin; padding: 35vmin 9vmin 0;}
  .rule .content {width: 100vmin;height: 60vmin;background-position: 50% -1vw;}
  .count .content{margin: 0 23%;padding-top: 6vmin;}
  .miracle .content{width: 82vmin;height: 53vmin; margin: 0 27vmin; padding-top: 29vmin;}
  .process .content{width: 97vmin;height: 55vmin;padding: 45vmin 0 0 15vmin;}
  .lottery-ball {width: 55%;margin: 0 8vmin;}
  .lottery-ball .ball div {width: 85%;}
  .lottery-result{padding: 2vmin 0 2vmin 8vmin;}
}
@media screen and (max-width: 1366px){
  button.content-btn,
  button.content-btn-01{width: 29vmin;height: 7vmin;font-size: 3vmin;}
  .process{padding-top: 38vmin;}
  .rule,
  .main{padding-top: 36vmin;}
  .main .content {width: 94vmin; height: 60vmin; padding: 34vmin 10vmin 0;}
  .count .content{width: 80vmin;height: 47vmin;margin: 3vmin 28vmin;padding-top: 5vmin;}
  .process .content {width: 97vmin;height: 55vmin;}
  .acc-name{padding: 10px 0 5px; font-size: 2vmin; margin: 0 auto 10px;}
  .snow-pic {width: 15vmin;height: 16vmin;}
  .hour,
  .minute{width: 7vmin;height: 5vmin;font-size: 2vw;padding: 0 10px;}
  .count .text {width: 90%; margin: 2vmin auto;}
  .count .count-btn {margin: 0 11vmin;}
  .miracle input{width: 45vmin;height: 6vmin;}
  .miracle button{margin: 2vmin auto;}
  .lottery-result{padding: 2vmin 0 2vmin 7.5vmin;}
  .lottery-ball{width: 70%; margin: 0 0 0 4vw;}
  .lottery-ball .ball div{width: 90%;}
  .lottery-ball .ball div p:first-child {font-size: 5vmin;}
  .lottery-ball .ball div p:last-child {font-size: 1.5vw;letter-spacing: 1px;}
  .rule ul li{margin-bottom: 5px;}
  .rule ul li div{font-size: 14px;}
  .rule ul li p {font-size: 14px;}
  .rule .content {width: 101vmin;height: 62vmin;background-position: 50% -1vw;}
}
@media screen and (max-width: 1280px){
  .main .content {margin: 0 auto;}
  .rule .content {width: 91vmin;height: 54vmin;margin: 0 auto;}
  .count .content{margin: 0 12vmin;}
  .miracle .content{margin: 0 10vmin;}
  .process .content {width: 90vmin;height: 50vmin;margin: 0 auto;padding: 39vmin 0 0 15vmin;}
  .lottery-result {padding: 2vmin 0 2vmin 5.5vmin;}
}
@media screen and (max-width: 1200px){
  .count .content {margin: 0 auto;}
  .rule .content {width: 80vmin;height: 49vmin;}
  .main .content {width: 84vmin;height: 54vmin; padding: 30vmin 8vmin 0;}
  .process .content {width: 83vmin; height: 46vmin;padding: 36vmin 0 0 12vmin;}
  .count .text {margin: 4vmin auto;}
  .hour,
  .minute{font-size: 3vw;}
  .box-left .btn-box a{width: 12vmin;height: 4vmin;}
  .box-left .btn-box {width: 12vmin;}
  .woman{background-position: 69% 100%;}
  button.content-btn, 
  button.content-btn-01 {width: 25vmin;height: 6vmin;}
  .lottery-result {padding: 2vmin 0 2vmin 5vmin;}
}
@media screen and (max-width: 1024px){
  button.content-btn{font-size: 2.5vmin;}
  .process .content {padding: 36vmin 0 0 17vmin;}
  .box-right .btn-box{width: 24vmin; height: auto; margin: 0 auto;}
  .box-right .btn-box a{display: block;margin: 2vmin auto;}
  .box-left .logo{width: 10vmin;height: 7vmin;}
  .count .count-btn button{font-size: 2.5vmin;}
  .count .count-btn{margin: 0 14vmin;}
  .rule .content{width: 83vmin;height: 64vmin;background-position: 50% -4vw;}
  .lottery-ball{margin: 0 0 0 3.5vw;}
  .each-result div, .next-result div{font-size: 16px;}
}
/* @media screen and (max-height:960px){
  .rule {padding-top: 37vmin;}
  .rule .content {width: 90vmin;}
  .process .content {width: 90vmin;height: 52vmin;}
  .main .content {width: 94vmin; height: 60vmin;margin: 0 13vmin;}
  .miracle .content {width: 78vmin;height: 51vmin;margin: 0 24vmin;}
  
} */
