@charset "UTF-8";
body {
  width: 100%;
  font-size: 100%;
  margin: 0 auto;
  padding: 0;
  outline: 0;
  position: relative;
  font-family: Arial, "Microsoft JhengHei", sans-serif;
  background: #0e163b;
}
.btn:active {box-shadow: none;}
a {
  cursor: pointer;
  text-decoration: none;
  display: block;
}
a:hover, a:focus { text-decoration: none; box-shadow: none;}
*:focus {outline: 0;}
img {max-width: 100%;height: auto;}

/*-- 共用 --*/
.wrap {width: 1200px;margin: 0 auto;}
/* table */
.tbody {display: table-row-group;}
.th, .td {
  padding: 5px 10px;
  display: table-cell;
  text-align: center;
  border: #88899d 1px solid;
  color: #fff;
  font-size: 18px;
}
.tr {display: table-row; border: #88899d 1px solid;}
.col_2 {width: 48%;}
.col {display: block; float: left; margin: 1% 0 1% 19px;}
.col:first-child {margin-left: 0;}

header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.35);
}
header .logo {
  float: left;
  width: 245px;
  height: 50px;
  background: url(images/logo.png) no-repeat top center;
}
header .btn-box {
  float: right;
  width: 310px;
  height: 40px;
  text-align: center;
}
header .btn-left, header .btn-right {
  width: 150px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: top center;
}
header .btn-left {background-image: url(images/service.png);}
header .btn-right {background-image: url(images/home.png);}
header .btn-right { border-right: 1px solid #fff; padding-right: 20px;}
section { width: 1920px; margin: 0 auto;}
section.box1 {
  background-image: url(../images/top_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 849px;
}
section.box1 .treasure {
  width: 650px;
  height: 370px;
  background-image: url(../images/step_all.jpg);
  background-size: 100% auto;
  position: relative;
  top: 394px;
  left: 277px;
  display: inline-block;
}
section.box1 .active { animation: treasure-open 2s steps(12) 1;}
@keyframes treasure-open {
  to {
    background-position: 0 -1200%;
  }
}
/* 遊戲規則 */
section#rule {
  background-image: url(../images/mid_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 679px;
  position: relative;
}
section#rule .wrap { padding-top: 15px;}
section#rule .wrap .rule_bg + div {
  width: 95%;
  text-align: right;
  letter-spacing: 3px;
  font-size: 16px;
  color: #b5b5b5;
}
.rule_bg {
  background-image: url(../images/rule_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 581px;
  padding: 0 10%;
}
.rule_bg .rule_txt {
  width: 100%;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  padding: 135px 0 60px;
  line-height: 20px;
}
.rule_bg .rule_txt p { color: #fff; letter-spacing: 3px;}
.rule_bg .rule_txt p span { color: #ffe850; font-weight: bold;}
.rule_bg .rule_txt01 {
  width: 96%;
  color: #ffe850;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 auto 5px;
  text-align: left;
}
.rule_bg .rule_table {
  display: table;
  width: 99%;
  border-collapse: collapse;
  border: 1px solid #88899d;
  background-size: cover;
  background-image: url(../images/table_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 174px;
}
.rule_bg .rule_table .thead {
  display: table-header-group;
  font-weight: 600;
  letter-spacing: 3px;
}
.rule_bg .rule_table .thead .tr:nth-of-type(1) .th:nth-of-type(2) {empty-cells: hide;border: 0;}
.rule_bg .rule_table .thead .tr:nth-of-type(1) .th:nth-of-type(2) div {width: 1px;}
.rule_bg .rule_table .thead .tr:nth-of-type(1) .th:nth-of-type(2) div .txt { width: 150px; position: relative; overflow: hidden;}
.rule_bg .rule_table .thead .tr:nth-of-type(1) .th:nth-of-type(3) { border: 0;}
.rule_bg .rule_table .tbody {display: table-row-group;}
.rule_bg .rule_table .tbody .tr .td { color: #ffe850;}
.rule_bg .right .thead .tr:nth-of-type(1) .th:nth-of-type(2) div .txt { width: 195px;}

.rule_btn {
  width: 260px;
  border: none;
  bottom: 45px;
  left: 830px;
  height: 82px;
  position: absolute;
  background-color: transparent;
  background-image: url(../images/rule_btn.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.rule_btn:hover {
  background-position: bottom center;
  height: 82px;
}
section#record {
  padding-top: 140px;
  background-image: url(../images/bottom_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 645px;
}
/*-- 記錄表格 --*/
section#record .recode_bg {
  position: relative;
  padding: 90px 105px 10px;
  background-image: url(../images/recode_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 431px;
}
section#record .recode_bg .recode_top {
  position: absolute;
  width: 405px;
  top: -8px;
  left: 402px;
  background-image: url(../images/recode_top.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 91px;
}
section#record .recode_bg .recode_top .member_id {
  width: 75%;
  margin: 0 auto;
  padding: 10px 0 0 0;
  text-align: center;
  text-shadow: 1px 2px 2px #232323;
  font-size: 22px;
  color: #fff;
}
section#record .recode_bg .recode_top .member_id p {display: inline-block; vertical-align: middle;}
section#record .recode_bg .week { width: 75%; margin: 0 auto;}
section#record .recode_bg .week #week {
  background: transparent;
  border: 1px solid #88899d;
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #fff;
  width: 130px;
  height: 35px;
}
section#record .recode_bg .week #week option { font-size: 16px; color: #000;}
section#record .recode_bg .week .time {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 3px;
  font-size: 16px;
  color: #fff;
}
section#record .recode_bg .week .time div { display: inline-block; vertical-align: middle;}
section#record .recode_bg .recode { width: 75%; margin: 15px auto 0;}
section#record .recode_bg .recode .table {
  width: 99%;
  display: table;
  background-size: cover;
  border-collapse: collapse;
  border: 1px solid #88899d;
  background-image: url(../images/table_bg01.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 139px;
}
section#record .recode_bg .recode .table .thead {
  display: table-header-group;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 20px;
}
section#record .recode_bg .recode .table .tbody .tr .td { font-weight: bold; font-size: 18px;}
section#record .recode_bg .recode .table .tbody .tr .td:nth-of-type(2),
section#record .recode_bg .recode .table .tbody .tr .td:nth-of-type(3),
section#record .recode_bg .recode .table .tbody .tr .td:nth-of-type(4),
section#record .recode_bg .recode .table .tbody .tr .td:nth-of-type(5){color: #ffe850;}
section#record .recode_bg .recode_txt {
  width: 75%;
  height: auto;
  margin: 0 auto;
}
section#record .recode_bg .recode_txt p {
  font-size: 18px;
  color: #ffe850;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 600;
}
section#record footer {
  font-size: 14px;
  color: #fff;
  width: 1920px;
  height: auto;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
}

/*-- 彈跳視窗 --*/
/*遮罩樣式*/
#mdOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  position: fixed;
  z-index: 97;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
#mdWindow {
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 98;
  transform: translate3d(-50%, -50%, 0);
  display: none;
}
.sing_box {
  width: 500px;
  height: 100px;
  position: relative;
  width: 805px;
  background-image: url(../images/sign_bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 405px;
}
.sing_box input {
  width: 455px;
  height: 45px;
  position: absolute;
  bottom: 38%;
  left: 31%;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 0 0 10px;
  letter-spacing: 3px;
  font-size: 16px;
  color: #fff;
}
.sing_box .member_sign {
  left: 38%;
  border: 0;
  height: 75px;
  bottom: 40px;
  width: 225px;
  position: absolute;
  background-image: url(../images/sign_btn.png);
  background-repeat: no-repeat;
  background-position: top center;
}
.sing_box .member_sign:hover { background-position: bottom center;}
.sign_close {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  right: -50px;
  cursor: pointer;
}
.sign_close .close_left, .sign_close .close_right {
  width: 50px;
  height: 2px;
  background: #fff;
}
.sign_close .close_left { transform: translate(5px, 23px) rotate(45deg);}
.sign_close .close_right { transform: translate(5px, 22px) rotate(-45deg); }

/*-- 浮動視窗 --*/
.float_window {
  right: 85px;
  position: absolute;
  padding: 53px 0 53px 43px;
  width: 145px;
  background-image: url(../images/scrollwin.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 270px;
}
.float_window div { cursor: pointer;}
.float_window .rule, .float_window .record, .float_window .gotop { width: 80px;}
.float_window .rule {
  background-image: url(../images/rule.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 35px;
}
.float_window .record {
  background-image: url(../images/record.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 45px;
}
.float_window .gotop {
  background-image: url(../images/gotop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  height: 33px;
}

/*-- breakpoint --*/
@media screen and (max-width: 1366px) {
  .float_window {right: 10px;}
}
@media screen and (max-width: 1024px) {
  .float_window {display: none;}
}
/* ipad */
@media screen and (max-width: 768px) {
  .col_4 {width: 49.2%;}
  section div.col_4:nth-of-type(3n) {margin: 1% 0;}
}
@media screen and (max-width: 480px) {
  .col_2, .col_3, .col_4, .col_5,
  .col_6, .col_7, .col_8, .col_9,
  .col_10, .col_11, .col_12 { width: 100%;}
  .col {margin: 1% 0;}
}