@charset "UTF-8";
header .btn-box .home::before, header .btn-box .home::after {
  content: '|';
  color: #000;
  width: 1px;
  height: auto;
  display: inline-block;
  position: absolute;
  top: 0;
}

.rule_box .lightning_left, .rule_box .lightning_right {
  display: inline-block;
  position: absolute;
  opacity: 0.8;
}

body {
  font-size: 100%;
  margin: 0 auto;
  padding: 0;
  outline: 0;
  position: relative;
  font-family: Arial, "Microsoft JhengHei", sans-serif !important;
  /* overflow-x: hidden; */
}
label{font-weight: 500;}
form{margin-bottom: 10px;}
.btn:active {
  box-shadow: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  display: block;
}

a:hover, a:focus {
  text-decoration: none;
  box-shadow: none;
}

*:focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*-- 共用 --*/
.wrap {max-width: 1021px;margin: 0 auto;}
.red {color: #f00;}
#tab1, #tab2, #tab3, #tab4 {padding: 25px 30px 10px;}

input[type=radio]::before,
input[type=checkbox]::before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/radio.png) no-repeat top center;
  background-size: cover;
  position: relative;
  top: -7px;
  left: -9px;
}

input[type=radio]:checked::before,
input[type=checkbox]:checked::before {
  width: 25px;
  height: 25px;
  background: url(../images/radio_checked.png) no-repeat top center;
  background-size: cover;
  position: relative;
  top: -3px;
  left: -3px;
}

/*-- 背景圖 --*/
.bg {
  width: 100%;
  height: 1080px;
  background-image: url(../images/main_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.qa_done {padding-top: 39%;background-image: url(../images/bg_done.jpg);}
header {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
  position: absolute;
  top: 0;
}
header .logo {
  float: left;
  width: 144px;
  height: 47px;
  margin: 10px 0 0 10px;
  background: url(../images/logo.png) no-repeat top center;
}
header .btn-box {
  float: right;
  width: 250px;
  height: 50px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../images/head_bar.png);
}
header .btn-child {
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
header .btn-box {padding-top: 7px;}
header .btn-box a {font-size: 20px;color: #000;}
header .btn-box a:hover {border-bottom: 1px solid #000;}
header .btn-box .home {margin: 0 20px;position: relative;}
header .btn-box .home::before {left: -13px;}
header .btn-box .home::after {right: -10px;}

/*-- 輸入會員帳號 --*/
section#main {
  max-width: 1920px;
  margin: 0 auto;
  display: none;
}
section#main .main_title {
  background-image: url(../images/main_title.png);
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 1020px;
  height: 386px;
  background-size: cover;
}
section#main .main_sub {
  background-image: url(../images/main_sub.png);
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 1020px;
  height: 175px;
  background-size: cover;
}
section#main .sign_in {
  max-width: 650px;
  height: auto;
  margin: 0 auto;
}
section#main .sign_in .txt {
  font-size: 24px;
  color: #fff;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}
section#main .sign_in .member_id {
  width: 650px;
  height: 70px;
  border: 1px solid #cc862b;
  background-color: #000;
  letter-spacing: 2px;
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 28px;
  color: #fff;
}
section#main .sign_in .qa_btn {
  width: 650px;
  height: 70px;
  font-size: 30px;
  color: #532402;
  text-align: center;
  letter-spacing: 5px;
  border-radius: 5px;
  border: 1px solid #fbef9e;
  background: #ede384;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ede384 0%, #d38038 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ede384 0%, #d38038 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ede384 0%, #d38038 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede384', endColorstr='#d38038',GradientType=0 );
  /* IE6-9 */
}
section#main .sign_in .qa_btn:hover {
  background: #d38038;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d38038 1%, #ede384 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d38038 1%, #ede384 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d38038 1%, #ede384 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d38038', endColorstr='#ede384',GradientType=0 );
  /* IE6-9 */
}

/*-- 輸入會員帳號 end --*/
/*-- 龍珠 --*/
section#dragon {margin-top: 15px;}

.dragon_ball {
  position: relative;
  width: 1021px;
  height: 115px;
  margin-top: 20px;
}
.dragon_ball div {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 75px;
  height: 87px;
  position: absolute;
}
.dragon_ball .ball_1 {
  background-image: url(../images/ball_1.png);
  left: 65px;
  top: 45px;
}
.dragon_ball .ball_1.active {background-image: url(../images/ball_1_active.png);}
.dragon_ball .ball_2 {
  background-image: url(../images/ball_2.png);
  left: 250px;
  top: 25px;
}
.dragon_ball .ball_2.active { background-image: url(../images/ball_2_active.png);}
.dragon_ball .ball_3 {
  background-image: url(../images/ball_3.png);
  left: 315px;
  top: 43px;
}
.dragon_ball .ball_3.active {background-image: url(../images/ball_3_active.png);}
.dragon_ball .ball_4 {
  background-image: url(../images/ball_4.png);
  right: 450px;
  top: 45px;
}
.dragon_ball .ball_4.active { background-image: url(../images/ball_4_active.png);}
.dragon_ball .ball_5 {
  background-image: url(../images/ball_5.png);
  right: 385px;
  top: 30px;
}
.dragon_ball .ball_5.active {background-image: url(../images/ball_5_active.png);}
.dragon_ball .ball_6 {
  background-image: url(../images/ball_6.png);
  right: 165px;
  top: 50px;
}
.dragon_ball .ball_6.active {background-image: url(../images/ball_6_active.png);}
.dragon_ball .ball_7 {
  background-image: url(../images/ball_7.png);
  right: 105px;
  top: 25px;
}
.dragon_ball .ball_7.active { background-image: url(../images/ball_7_active.png);}

/*-- 問卷區塊 --*/
#question_block {display: block;}
#question_block .qa_title {
  max-width: 1021px;
  height: 215px;
  margin: 0 auto;
  background: url(../images/rule_title.png) no-repeat top center;
  background-size: contain;
}
#question_block .question {
  position: relative;
  width: 100%;
  height: auto;
}
#question_block .question ul {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#question_block .question ul li {float: left;list-style-type: none;}
#question_block .question ul li a {
  width: 116px;
  height: 32px;
  display: block;
  padding: 0 0 0 14px;
  line-height: 35px;
  letter-spacing: 1px;
  text-decoration: none;
  background: url(../images/tab_bg.png) no-repeat top center;
  background-size: cover;
  font-size: 17px;
  color: #fff;
}
#question_block .question ul li .active {
  background: url(../images/tab_active.png) no-repeat top center;
  background-size: cover;
}
#question_block .question #contents {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(202, 145, 70, 0.3);
  border-right: 1px solid rgba(202, 145, 70, 0.3);
  border-left: 1px solid rgba(202, 145, 70, 0.3);
  overflow: hidden;
}
#question_block .question #contents::before {
  content: '';
  display: block;
  width: 29vw;
  height: 1px;
  float: right;
  background-color: rgba(202, 145, 70, 0.3);
  overflow: hidden;
}
#question_block .question #contents div p {
  letter-spacing: 1px;
  font-size: 20px;
  color: #fff;
}
#question_block .question #contents #tab1{width: 100%;display: block;}
#tab1 .q1 .Select{ width: 16%; display: inline-block;}
#tab1 .q2 .Select{ width: 24%; display: inline-block;}
#tab2 .q1 .Select{ width: 16%; display: inline-block;}
#tab2 .q2 .Select{ width: 24%; display: inline-block;}
#tab3 .q1 .Select{ width: 16%; display: inline-block;}
#tab3 .q2 .Select{ width: 17%; display: inline-block;}
#tab3 .q3 .Select{ width: 30%; display: inline-block;}
#tab4 .q1 .Select{ width: 40%; display: inline-block;}
#tab4 .q2 .Select{ width: 30%; display: inline-block;}

#question_block .question #contents #tab1 .select_box input[type=radio],
#question_block .question #contents #tab1 .select_box input[type=checkbox], 
#question_block .question #contents #tab2 .select_box input[type=radio],
#question_block .question #contents #tab2 .select_box input[type=checkbox], 
#question_block .question #contents #tab3 .select_box input[type=radio], 
#question_block .question #contents #tab3 .select_box input[type=checkbox], 
#question_block .question #contents #tab4 .select_box input[type=radio], 
#question_block .question #contents #tab4 .select_box input[type=checkbox]{
  width: 2%;
  display: inline-block;
}
#question_block .question #contents #tab1 .select_box label, 
#question_block .question #contents #tab2 .select_box label, 
#question_block .question #contents #tab3 .select_box label, 
#question_block .question #contents #tab4 .select_box label {
  font-weight: 500;
  margin-right: 30px;
}
#question_block .question #contents .q1 {width: 100%;height: auto;}
#question_block .question #contents .q2 {width: 100%;height: auto;}
#question_block .question #contents .else_option {
  width: 50%;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 0px;
}
#question_block .question #contents .q3 .else_option {
  width: 30%;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 0px;
}

#question_block .next_btn {
  width: 100%;
  margin: 10px auto 0;
  text-align: center;
  position: relative;
  display: block;
}
#question_block .next_btn .next {
  width: 415px;
  height: 55px;
  font-size: 20px;
  color: #532402;
  text-align: center;
  letter-spacing: 5px;
  border-radius: 5px;
  border: 1px solid #fbef9e;
  background: #ede384;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ede384 0%, #d38038 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ede384 0%, #d38038 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ede384 0%, #d38038 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede384', endColorstr='#d38038',GradientType=0 );
  /* IE6-9 */
}
#question_block .next_btn .next:hover {
  background: #d38038;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d38038 1%, #ede384 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d38038 1%, #ede384 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d38038 1%, #ede384 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d38038', endColorstr='#ede384',GradientType=0 );
  /* IE6-9 */
}

/* pc */
#question_block .tips_pc {
  position: absolute;
  top: 10px;
  right: 115px;
  width: 160px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  color: #ff6f60;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(202, 145, 70, 0.3);
  border-right: 1px solid rgba(202, 145, 70, 0.3);
  border-top: 1px solid rgba(202, 145, 70, 0.3);
  display: bolck;
}
#question_block .tips_pc::before {
  content: '';
  width: 11px;
  height: 28px;
  background: url(../images/tip_left.png) no-repeat top center;
  display: inline-block;
  position: absolute;
  left: -11px;
}

/* bobile */
#question_block .tips_mobile {
  display: none;
  position: absolute;
  top: 10px;
  right: 115px;
  width: 160px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  color: #ff6f60;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(202, 145, 70, 0.3);
}

/*-- 完成區塊 --*/
#finished {display: none;}

.member_ifo p,.member_ifo span{display: inline-block;}
.member_ifo{
  text-align: center;
  font-size: 24px;
  color: #fbe180;
}
.member_ifo span {font-size: 24px;color: #fff;}
.home_btn {
  text-align: center;
  width: 100%;
  margin: 50px auto 0;
}
.home_btn .h_btn {
  width: 415px;
  height: 55px;
  font-size: 20px;
  color: #532402;
  text-align: center;
  letter-spacing: 5px;
  border-radius: 5px;
  line-height: 50px;
  display: inline-block;
  border: 1px solid #fbef9e;
  background: #ede384;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ede384 0%, #d38038 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ede384 0%, #d38038 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ede384 0%, #d38038 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede384', endColorstr='#d38038',GradientType=0 );
  /* IE6-9 */
}
.home_btn .h_btn:hover {
  background: #d38038;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d38038 1%, #ede384 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d38038 1%, #ede384 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d38038 1%, #ede384 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d38038', endColorstr='#ede384',GradientType=0 );
  /* IE6-9 */
}

footer {
  width: 100%;
  margin: 0 auto;
  background: rgba(10, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
}
footer .footer_txt {
  float: left;
  width: 285px;
  height: 61px;
  background: url(../images/footer_txt.png) no-repeat top center;
  background-size: cover;
}
footer .footer_url {
  float: right;
  margin: 15px 15px 0 0;
  width: 239px;
  height: 35px;
  background: url(../images/footer_url.png) no-repeat top center;
  background-size: cover;
}

/*-- 彈跳視窗 --*/
/*遮罩樣式*/
#mdOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  position: fixed;
  z-index: 97;
  background: rgba(0, 0, 0, 1);
  display: none;
}
#mdWindow {
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 98;
  transform: translate3d(-50%, -50%, 0);
  display: none;
}
.rule_box {
  width: 1021px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.rule_box .lightning_left {
  top: 83px;
  left: -93px;
  width: 457px;
  height: 209px;
  background: url(../images/lightning_left.png) no-repeat top center;
  background-size: cover;
}
.rule_box .lightning_right {
  top: -78px;
  right: 0;
  width: 382px;
  height: 260px;
  background: url(../images/lightning_right.png) no-repeat top center;
  background-size: cover;
}
.rule_box .rule_title {
  background: url(../images/rule_title.png) no-repeat top center;
  background-size: contain;
  max-width: 1021px;
  height: 200px;
}
.rule_box .rule_content {
  background: url(../images/pop_box.png) no-repeat top center;
  background-size: cover;
  max-width: 878px;
  height: 634px;
  margin: 0 auto;
  position: relative;
  padding: 70px 0 0 35px;
}
.rule_box .rule_content .dragon_rule {
  background: url(../images/dragon_rule.png) no-repeat top center;
  background-size: cover;
  width: 200px;
  height: 378px;
  position: absolute;
  top: 47px;
  right: 39px;
}
.rule_box .rule_content .rule_text {
  width: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
}
.rule_box .rule_content .rule_text .txt {
  width: 100%;
  height: auto;
  margin-bottom: 29px;
}
.rule_box .rule_content .rule_text .txt div {font-size: 22px;color: #fbe180;}
.rule_box .rule_content .rule_text .txt p {
  font-size: 20px;
  color: #fff;
  padding-left: 25px;
  margin: 0;
}
.rule_box .rule_content .rule_text .txt .pading-left {padding-left: 40px;}
.rule_box .rule_content .rule_text .rule_list {width: 100%;}
.rule_box .rule_content .rule_text .rule_list div {font-size: 22px;color: #fbe180;}
.rule_box .rule_content .rule_text .rule_list ul li {
  font-size: 18px;
  color: #fff;
  padding-left: 25px;
  margin-bottom: 5px;
}
.rule_box .rule_content .rule_text .rule_list ul li p {
  font-size: 18px;
  color: #fff;
  padding-left: 15px;
  margin: 0;
}
.rule_box .rule_content .close_btn {
  background: url(../images/pop_close.png) no-repeat top center;
  background-size: cover;
  width: 57px;
  height: 57px;
  position: absolute;
  top: 33px;
  right: -65px;
  cursor: pointer;
  z-index: 100;
}
.rule_box .pop_ball {
  background: url(../images/pop_ball01.png) no-repeat top center;
  background-size: cover;
  width: 1021px;
  height: 760px;
  position: absolute;
  top: 120px;
  margin: 0 auto;
}



/*-- mobile --*/
@media screen and (max-width: 1366px) {
  .qa_done{padding-top: 55%;}
}
@media screen and (max-width: 1024px) {

  .qa_done {padding-top: 73%;}
  #question_block .question #contents {width: 95%; margin: 0 auto;}
  #question_block .question ul {width: 95%;}
  #question_block .question #contents::before {width: 48.2vw;}
}
@media screen and (max-width: 768px) {
  .qa_done{  
    width: 100vw;
    height: 146vw;
    padding-top: 88%;
    background-image: url(../images/mobile/bg_done.jpg);
  }
  .member_ifo{font-size: 5vw;}
  .member_ifo > span{font-size: 6vw;}
  .member_ifo p:nth-of-type(1){display:block;}

  #tab1 .q1 .Select{width: 19%;}
  #tab1 .q2 .Select{width: 33%;}

  input[type=radio]::before, 
  input[type=checkbox]::before,
  input[type=radio]:checked::before, 
  input[type=checkbox]:checked::before{
    width: 3vw;
    height: 3vw;
    top: -4px; 
    left: -9px;
  }
  
  header .btn-box a{font-size: 2vw;}
  #question_block .tips_pc{display: block;}
  #question_block .tips_mobile{
    display: block;
    top: 7vw;
    right: 23vw;
    width: 54vw;
    height: 4vw;
  }
  section#main .main_title {
    background: url(../images/mobile/main_title.png) no-repeat top center;
    background-size: contain;
    height: 45vw;
  }
  section#main .sign_in{text-align: center;}
  #question_block .question #contents {width: 90%;}
  #question_block .question ul {width: 90%;}
  #question_block .question #contents::before {width: 29.5vw;}
  #question_block .question #contents div p{font-size: 2vw;}
  #question_block .question #contents #tab1 .select_box, 
  #question_block .question #contents #tab2 .select_box, 
  #question_block .question #contents #tab3 .select_box, 
  #question_block .question #contents #tab4 .select_box {
    line-height: 4vw;
    color: #fff;
  }
  #question_block .question #contents #tab1 .select_box label, 
  #question_block .question #contents #tab2 .select_box label, 
  #question_block .question #contents #tab3 .select_box label, 
  #question_block .question #contents #tab4 .select_box label{
    margin:0 10px 0 5px; 
  }
  #question_block .question #contents .else_option{ margin-left: -10px;}
  #question_block .qa_title {
    background: url(../images/mobile/step_title.png) no-repeat top center;
    background-size: contain;
    height: 28vw;
  }
  .dragon_ball {width: 100vw;height: auto;}
  .dragon_ball div {background-size: contain;}
  .dragon_ball .ball_1 {left: 5vw;}
  .dragon_ball .ball_2 {left: 20vw;}
  .dragon_ball .ball_3 {left: 27vw;}
  .dragon_ball .ball_4 {right: 48vw;}
  .dragon_ball .ball_5 {right: 40vw;}
  .dragon_ball .ball_6 {right: 21vw;}
  .dragon_ball .ball_7 {right: 13vw;}
  section#main .sign_in .member_id{width: 84.5vw;}
  section#main .sign_in .qa_btn{width: 84.5vw;}
  footer {width: 100vw;padding: 2vw 0;}
  footer .footer_txt {width: 38vw;display: none;}
  footer .footer_url {
    width: 32vw;
    margin: 0 auto;
    float: none;
  }
  .rule_box .rule_title{height: 21vw;}
  .dragon_rule{display: none;}
  .rule_box .rule_content{
    width: 95vw;
    height: 95vw;
    background-size: contain;
    padding: 5vw 0 0 1vw;
  }
  .rule_box .pop_ball{display: none;}
  .rule_box .rule_content .rule_text{width: 99%;}
  .rule_box .rule_content .rule_text .txt{margin-bottom: 1vw;}
  .rule_box .rule_content .rule_text .txt div{font-size: 2.5vw;}
  .rule_box .rule_content .rule_text .txt p{font-size: 2.5vw;}
  .rule_box .rule_content .rule_text .rule_list div{font-size: 2vw}
  .rule_box .rule_content .rule_text .rule_list ul li{font-size: 2vw}
  .rule_box .rule_content .close_btn{
    top: 6vw;
    right: 2vw;
    width: 7vw;
    height: 7vw;
  }
}

@media screen and (max-width: 640px){

  #tab4 .q2 .Select {width: 32%;}
  #question_block .question #contents .else_option{margin-left: -4px;}
  input[type=radio]::before, input[type=checkbox]::before,
  input[type=radio]:checked::before, input[type=checkbox]:checked::before{top: -3px; left: -5px;}
  .bg{ height: 150vw; }
  header .btn-child{height: 3vw;}
  section#main .main_sub{ width: 100vw; height: 24vw;}
  footer .footer_url{width: 41vw;background-size: contain;}
  #question_block .tips_mobile {
    top: 8.5vw;
    right: 17.5vw;
    width: 65vw;
    height: 4vw;
  }
  .dragon_ball div{width: 10vw; height: 10vw;}
  #question_block .question #contents::before {width: 22.5vw;}
  #question_block .question #contents #tab1 .select_box label, 
  #question_block .question #contents #tab2 .select_box label, 
  #question_block .question #contents #tab3 .select_box label,
  #question_block .question #contents #tab4 .select_box label{
    margin: 0 7px 0 5px;
  }
  #question_block .question #contents {width: 95%;}
  #question_block .question ul {width: 95%;}
}
@media screen and (max-width: 480px){
  .bg {height: 166vw; padding-top: 10vw;}
  .qa_done{  
    width: 100vw;
    height: 166vw;
    padding-top: 94vw;
  }
  .member_ifo{font-size: 5vw;}
  .member_ifo > span{font-size: 6vw;}
  .member_ifo p:nth-of-type(1){display:block;}
  p{margin: 0;}
  header .logo{margin: 5px 0 0 10px;}
  section#main .sign_in .txt{ font-size: 4vw; letter-spacing: 2px;}
  header .btn-box a {font-size: 3vw;}
 
  .dragon_ball div{width: 11vw; height: 11vw;}
  #tab1, #tab2, #tab3, #tab4{padding: 15px 10px 10px;}
  #question_block .question ul li a{
    width: 19vw;
    height: 4.5vw;
    font-size: 12px;
    line-height: 28px;
  }
  input[type=radio]::before, input[type=checkbox]::before,
  input[type=radio]:checked::before, input[type=checkbox]:checked::before{ top: -1px; left: -1px;}
  #question_block .question #contents::before {width: 19.5vw;}
  #question_block .question #contents #tab1 .select_box, 
  #question_block .question #contents #tab2 .select_box, 
  #question_block .question #contents #tab3 .select_box, 
  #question_block .question #contents #tab4 .select_box{
    padding: 0; line-height: 4vw;
  }
  #question_block .question #contents #tab1 .select_box input[type=radio], 
  #question_block .question #contents #tab1 .select_box input[type=checkbox], 
  #question_block .question #contents #tab2 .select_box input[type=radio], 
  #question_block .question #contents #tab2 .select_box input[type=checkbox], 
  #question_block .question #contents #tab3 .select_box input[type=radio], 
  #question_block .question #contents #tab3 .select_box input[type=checkbox], 
  #question_block .question #contents #tab4 .select_box input[type=radio], 
  #question_block .question #contents #tab4 .select_box input[type=checkbox]{
    vertical-align: text-top;
  }
  #question_block .question #contents #tab1 .select_box label, 
  #question_block .question #contents #tab2 .select_box label, 
  #question_block .question #contents #tab3 .select_box label, 
  #question_block .question #contents #tab4 .select_box label{
    margin: 0 7px 0 0;
  }
  #question_block .question #contents div p{letter-spacing: 0px;}
  #question_block .tips_mobile {
    top: 11.5vw;
    right: 6.5vw;
    width: 87vw;
    height: 6vw;
  }
  #tab1 .q1 .Select {width: 33%;}
  #tab2 .q2 .Select {width: 33%;}
  #tab3 .q2 .Select {width: 25%;}
  #tab3 .q3 .Select {width: 33%;}
  #tab4 .q1 .Select {width: 49%;}
  #tab4 .q2 .Select {width: 35%;}

  .rule_box .rule_content .rule_text .txt div,
  .rule_box .rule_content .rule_text .txt p{font-size: 1.5vw;}
  .rule_box .rule_content{width: 95vw; height: 125vw;}
  .rule_box .rule_content .close_btn{width: 8vw; height: 8vw;}
  .rule_box .rule_content .rule_text .rule_list ul li{font-size: 2vw;padding-left: 2vw;}
  .rule_box .rule_content .rule_text{width: 75%;}
  .rule_box .rule_content .close_btn{right: 13vw;}
}
@media screen and (max-width: 414px){
  .bg{height: 184vw;}
  .qa_done{  
    width: 100vw;
    height: 184vw;
    padding-top: 107vw;
  }
  .home_btn{width: 90%;}
  .home_btn .h_btn{
    width: 90vw;
    height: 13vw;
    font-size: 5vw;
  }
  header .logo{
    width: 27vw;
    height: 9vw;
    background-size: cover;
  }
  header .btn-box{
    background-size: contain;
    width: 53vw;
    height: 12vw;
  }
  header .btn-box .home{ margin: 0 17px; }
  header .btn-box a{font-size: 4vw; height: 6vw;}
  section#main .sign_in .member_id{height: 12vw; }
  section#main .sign_in .qa_btn{height: 12vw; font-size: 5vw;}
  input[type=radio]::before, input[type=checkbox]::before,
  input[type=radio]:checked::before, input[type=checkbox]:checked::before{
    top: -2px;
    left: -2px;
    width: 4vw;
    height: 4vw;
  }
  footer .footer_url{height: 6vw;}

  #question_block .next_btn .next{width: 95vw;  height: 8vw; font-size: 14px; }
  #question_block .tips_mobile {
    top: 8vw;
    right: 2.5vw;
    width: 95vw;
    height: 7vw;
  }
  #tab1 .q2 .Select {width: 37%;}
  #tab3 .q3 .Select {width: 40%;}
  #tab4 .q1 .Select {width: 55%;}
  #tab4 .q2 .Select {width: 45%;}

  .rule_box .rule_content .rule_text{width: 70%;}
  .rule_box .rule_content{width: 135vw;}
  .rule_box .rule_content .close_btn{right: 18vw;}
}
@media screen and (max-width: 375px){
  .bg{height:268vw; padding-top: 3vw;}
  .qa_done{  
    width: 100vw;
    height: 184vw;
    padding-top: 107vw;
  }
  .home_btn{width: 90%;}
  .home_btn .h_btn{
    width: 90vw;
    height: 13vw;
    font-size: 5vw;
  }
  p.Select{padding-left: 15px;}
  section#dragon {margin-top: -25px;}
  #question_block .question ul li a{width: 23.7vw;height: 5.5vw;}
  #question_block .question #contents::before {width: 0vw;}
  #question_block .tips_mobile{line-height: 25px; font-size: 12px}
  #tab1 .q1 .Select ,#tab1 .q2 .Select,
  #tab2 .q1 .Select,#tab2 .q2 .Select,
  #tab3 .q1 .Select,#tab3 .q2 .Select,
  #tab3 .q3 .Select,#tab4 .q1 .Select,
  #tab4 .q2 .Select{ width: 100%;}

  .rule_box .rule_content .rule_text{width: 56%;}
  .rule_box .rule_content{width: 164vw;}
  .rule_box .rule_content .close_btn{ top: 7vw; right: 33vw;}
}
/*-- 紅米 --*/
@media screen and (max-width: 360px){
  input[type=radio]::before, 
  input[type=checkbox]::before, 
  input[type=radio]:checked::before, 
  input[type=checkbox]:checked::before{
    top: 0px;
    left: -1px;
  }
}

@media screen and (max-width: 320px){
  .bg {height: 315vw;padding-top: 3vw;}
  .qa_done{  
    width: 100vw;
    height: 184vw;
    padding-top: 107vw;
  }
  .home_btn{width: 90%;}
  .home_btn .h_btn{
    width: 83vw;
    height: 13vw;
    font-size: 5vw;
    line-height: 38px;
  }

  #question_block .question ul li a{
    line-height: 23px; 
    padding: 0 0 0 9px;
    letter-spacing: 0px;
  }
  input[type=radio]::before, input[type=checkbox]::before,
  input[type=radio]:checked::before, input[type=checkbox]:checked::before{
    top: -2px;
    left: -2px;
    width: 5vw;
    height: 5vw;
  }
  .Select{width: 100%;display: inline-block;}
  .rule_box .rule_content {width: 300vw;height: 144vw;}
  .rule_box .rule_content .rule_text {width: 34%;}
  .rule_box .rule_content .close_btn {top: 9vw;right: 89vw;}
}